html{
  overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    background: rgba(15, 15, 15, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#titre {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  text-align: center;
  transition: all 0.5s;
  padding-top: 80px;
}

#titre.active {
  color: rgb(29, 211, 29);
  font-size: 80px;
}

#btn {
  padding: 15px 30px;     /* espace intérieur (hauteur x largeur) */
  font-size: 24px;        /* taille du texte */
  cursor: pointer;
  border: none;
  border-radius: 8px;     /* coins arrondis */
  background-color: #4CAF50; /* couleur verte */
  color: white;
  transition: all 0.3s;

}

#btn:hover {
  background-color: #45a049; /* effet au survol */
  font-size: 30px;
  transition: all 0.3s;
}

#btn:disabled {
  background-color: grey;
  cursor: not-allowed;
  font-size: 24px;
}

#explosion-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* laisse passer les clics */
}

#explosion-container.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  /* Fond semi-transparent + flou derrière */
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  backdrop-filter: blur(10px);
  
  padding: 10px 30px;
  border-radius: 102px;
  border: 0.5px solid white;
  
  z-index: 1000;
}


.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: default;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navbar a:hover {
  transform: scale(1);
  transition: transform 0.3s;
  text-decoration: underline;
}